body {
    background-color: lightgray;
}

/* CSS Class selector */
.myMessage{
    background-color: yellow;
}

/* CSS ID selector */
#myHeader {
    /* CSS comment */
    /* color: red; */
    /* color: rgb(255, 0, 0); */
    color: #ff0000;

    text-align: center;

    /* background --> Longhand notation */
    /* background-color: #00ff00; */
    /* background-image: url("../images/hello_world.png"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: width height; */
    /* background-size: 200px 100px; */
    /* background-size: auto; */
    /* Responsive --> background-size: num% num% */
    /* background-size: 100% 100%; */
    
    /* background --> Shorthand notation */
    background: #00ff00 url("../images/hello_world.png") center no-repeat;
    background-size: cover;

    height: 200px;
}

/* CSS Tag selector */
h1{
    background-color: green;
}

/* CSS box model for an HTML element
    Components of box model of an element --> content, padding, border, margin */
.myBox p {
    /* padding --> Clockwise starting from top */
    /* padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px; */
    padding: 5px 10px 15px 20px;

    /* border-width: 1px;
    border-style: solid;
    border-color: red; */
    border: 1px solid red;

    /* margin --> Clockwise starting from top */
    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 20px; */
    margin: 5px 10px 15px 20px;

    background-color: lightseagreen;
}

/* CSS pseudo class --> :keyword */
.myBox p:hover {
    padding: 5px 10px 15px 20px;
    border: 1px solid blue;
    margin: 5px 10px 15px 20px;
    background-color: yellowgreen;
}

/* CSS pseudo element --> ::keyword */
.myBox p::after{
    content: "PARAGRAPH END";
    background-color: yellow;
}

/* CSS pseudo class and pseudo element combined */
.myBox p:first-child::first-line{
    font-weight: bold;
}

#myNav{
    background-color: #333;
    color: #efefef;
    height: 60px;
    margin: 10px 0px;
}

#myNav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#myNav ul li{
    float: left;
}

#myNav ul li a{
    margin-right: 5px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-color: #ddd;
    color: #000;
    width: 100px;
    position: relative;
    text-decoration: none;
}

#myNav ul li a:hover{
    background-color: #000;
    color: #fff;
}

th, td {
    padding: 10px;
    min-width: 100px;
}
